nav {
  min-height: 10 vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    margin-right: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0.5rem;
    transition: all 0.3 ease;
    &:hover {
      color: white;
    }
  }
}
