$mainColor: #a276ff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.falla {
  background-image: linear-gradient(rgba(16, 2, 49, 0.9), rgba(16, 2, 49, 0.9)),
    url("../images/206145-El-Gran-Teatro-Falla.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.replayer {
  background-image: linear-gradient(rgba(16, 2, 49, 0.9), rgba(16, 2, 49, 0.9)),
    url("../images/206145-El-Gran-Teatro-Falla.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.creator {
  background-image: linear-gradient(rgba(16, 2, 49, 0.9), rgba(16, 2, 49, 0.9)),
    url("../images/premios-once-28.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

span {
  font-family: "Oswald", sans-serif;
}
a:hover {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}
.sideButton {
  position: fixed;
  top: -25px;
  left: 225px;

  background: url("../images/test.svg");
  background-repeat: no-repeat;
  background-size: 125%;
  cursor: pointer;
  height: 150px;
  width: 100px;
}
.sideText {
  height: 30vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.sideLogo {
  padding-left: 25px;
}
.sideLogo span {
  font-weight: 400;
}
.sideText a {
  padding-left: 25px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.sideText a:hover {
  transition: 0.3s;
  border-left: 5px solid #a276ff;
  color: #a276ff;
  text-decoration: none;
}

.homepageText {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title {
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  line-height: 65px;
  margin-bottom: 25px;
}
.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: space-evenly;
  height: 117px;
  width: 25%;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  gap: 15px;
}

.moreButton {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.side-bar {
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  text-decoration: none;

  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  height: 100%;

  transform: translateX(0%);
  transition: all 0.5s ease;
  opacity: 1;
}

.dashboard {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.cardsRow a:hover {
  text-decoration: none;
}

.pase {
  color: white;
  font-weight: 700;
  font-size: 52px;
}

.carnaval {
  color: #a276ff;
  font-weight: 700;
  font-size: 100px;
}

.news {
  position: absolute;
  top: 75px;
  right: 7.5%;

  width: 27.5%;
}
.newsDashboard {
  position: absolute;
  bottom: 0px;

  width: 72.5%;
  height: 85%;

  margin-left: 300px;

  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
}

.totestimage {
  box-sizing: border-box;
  border: 6px solid #ffffff;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.45));
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.newsText {
  width: 50%;
  height: 90%;
  gap: 25px;
  display: flex;
  flex-direction: column;
}
.newsTitle {
  font-weight: 700;
  font-size: 28px;
}
.newsButton {
  height: 15%;
  width: 100%;
}
.newsInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25px;
  gap: 100px;

  width: 100%;
  height: 100%;
}
.newsSubtitle {
  font-weight: 500;
  font-size: 18px;
}
.newsBody {
  font-size: 16px;
  height: auto;
  min-height: 250px;
}
.newsBorder {
  height: 50%;
  display: flex;
  margin-top: 25px;
}
.newsPic {
  img {
    box-sizing: border-box;
    border: 6px solid #ffffff;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.45));
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    float: none;
    margin-bottom: 25px;
    height: 400px;
    width: 450px;
  }
}
.newsText {
  font-size: 20px;
}

.newsPagination {
  margin-right: 15%;
  margin-top: 75px;
}

.filtersPosition {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 10%;
  gap: 20px;

  .cardsRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 15px;
    a {
      width: 25%;
      text-decoration: none;
      .myCard {
        display: flex;
        flex-direction: column;
        text-align: center;
        .cardText {
          font-family: "Oswald", sans-serif;
          font-weight: 700;
          font-size: 28px;
          color: white;
        }
      }
      img {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 4px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  .cardsPosition {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 15px;
    a {
      width: 25%;
      text-decoration: none;
      .myCard {
        display: flex;
        flex-direction: column;
        text-align: center;
        .cardText {
          font-family: "Oswald", sans-serif;
          font-weight: 700;
          font-size: 28px;
          color: white;
        }
      }
      img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 4px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.myTitle {
  font-weight: 400;
  font-size: 14px;
}

.paseSide {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.carnavalSide {
  color: #a276ff;
  font-weight: 700;
  font-size: 18px;
}
.text:hover {
  text-decoration: none;
}

.topHeader {
  position: fixed;
  top: 15px;
  left: 350px;
  height: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myBreadcrumb {
  width: 50%;

  display: flex;
  align-items: center;
}

.searchBox {
  width: 100%;
  input {
    width: 100%;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.userLogin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  height: 400px;
  margin-left: 5%;
  background: white;
  border-radius: 15px;
  justify-content: space-evenly;

  align-items: center;
  text-align: center;
}

.loginButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginTitle {
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  display: block;
}

.loginSubtitle {
  word-break: break-word;
  width: 60%;
}

@import "./song";

@import "./player";

@import "./library";

@import "./nav";

@import "./author";

.active-sidebar {
  transform: translateX(-55%);
  opacity: 0;
}

.active-rope-in {
  overflow: scroll;

  animation: nudge 0.4s ease;
  @keyframes nudge {
    50% {
      transform: translate(0px, 15px);
    }

    80% {
      transform: translate(0px, 0px);
    }
  }
}

.active-rope-out {
  animation: test 0.4s ease;
  @keyframes test {
    50% {
      transform: translate(0px, 15px);
    }

    80% {
      transform: translate(0px, 0px);
    }
  }
}
