$mainColor: #a276ff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.falla {
  background-image: linear-gradient(rgba(16, 2, 49, 0.9), rgba(16, 2, 49, 0.9)),
    url("../images/206145-El-Gran-Teatro-Falla.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.replayer {
  background-image: linear-gradient(rgba(16, 2, 49, 0.9), rgba(16, 2, 49, 0.9)),
    url("../images/206145-El-Gran-Teatro-Falla.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.creator {
  background-image: linear-gradient(rgba(16, 2, 49, 0.9), rgba(16, 2, 49, 0.9)),
    url("../images/premios-once-28.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

span {
  font-family: "Oswald", sans-serif;
}
a:hover {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}
.sideButton {
  position: fixed;
  top: 100px;
  left: 190px;
  z-index: 3;
}
.sideText {
  height: 30vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.sideLogo {
  padding-left: 25px;
}
.sideLogo span {
  font-weight: 400;
}
.sideText a {
  padding-left: 25px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.sideText a:hover {
  transition: 0.3s;
  border-left: 5px solid #a276ff;
  color: #a276ff;
  text-decoration: none;
}

.homepageText {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title {
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  line-height: 65px;
  margin-bottom: 25px;
}
.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: space-evenly;
  height: 117px;
  width: 25%;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: right;
  gap: 15px;
}

.moreButton {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.side-bar {
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 25vh;
  height: 100vh;

  transform: translateX(0%);
  transition: all 0.5s ease;
  opacity: 1;
}

.dashboard {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.cardsRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

.cardsRow a:hover {
  text-decoration: none;
}

.pase {
  color: white;
  font-weight: 700;
  font-size: 52px;
}

.carnaval {
  color: #a276ff;
  font-weight: 700;
  font-size: 100px;
}

.newsDashboard {
  vertical-align: bottom;
  width: 72.5%;
  height: 85%;
  left: 15%;
  margin-left: 2.5%;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.85);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  /* position: relative;
  top: 100%;
  transform: translateY(-109%); 
  */
}

.newsInfo {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 50%;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.newsPicture {
  margin-top: 50px;
  width: 450px;
  height: 500px;
  background: url("../images/comparsa/oh_capitan.jpg");
  box-sizing: border-box;
  border: 6px solid #ffffff;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.45));
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.newsText {
  font-size: 20px;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.newsPagination {
  margin-right: 15%;
  margin-top: 75px;
}

.myCard {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.cardImage {
  border: 5px solid rgb(255, 255, 255);
  border-radius: 4px;
}

.cardText {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: white;
}

.cardsPosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  justify-content: space-evenly;

  gap: 55px;
  width: 100%;

  a:hover {
    text-decoration: none;
  }
}

.creatorRow {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: 5%;
  align-content: space-evenly;
  justify-content: space-evenly;
}

.title {
  font-weight: 400;
  font-size: 14px;
}

.paseSide {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.carnavalSide {
  color: #a276ff;
  font-weight: 700;
  font-size: 18px;
}
.text:hover {
  text-decoration: none;
}

.myBreadcrumb {
  width: 100%;
}

.searchBox {
  width: 100%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.userLogin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  height: 400px;
  margin-left: 5%;
  background: white;
  border-radius: 15px;
  justify-content: space-evenly;

  align-items: center;
  text-align: center;
}

.loginButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loginTitle {
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
  display: block;
}

.loginSubtitle {
  word-break: break-word;
  width: 60%;
}

@import "./song";

@import "./player";

@import "./library";

@import "./nav";

.active-sidebar {
  transform: translateX(-55%);
  opacity: 0;
}
