.padre1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b a b" "a b a b" "a b a b" "a b a b";
    gap: 10px;
}

[class^="hijo-"] {
    background-color: lightseagreen;
}

:nth-child(odd){
    
    grid-area: a;
}

:nth-child(even){
    grid-area: b;
}